* {
    margin : 0;
    padding : 0;
}
body {
    padding: 5px;
    color: white;
    font-family: arial;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.container {
    width: 580px;
    margin: 5px auto;
    border: 5px solid black;
    padding: 5px;
    
}

.header {
    width: 100%;
    height: 110px;
    background-color: purple;
    line-height: 150px;
    box-sizing: border-box;
}

.content {
    width: 40%;
    height: 440px;
    float: left;
}
.aside {
    width: 100%;
    height: 200px;
    background-color: lightseagreen;
    line-height: 200px;

}

.nav {
    width: 100%;
    height: 240px;
    background-color: red;
    font-weight: bold;
    line-height: 240px;
}

.main {
    width: 60%;
    height: 440px;
    background-color: orange;
    line-height: 440px;
    float: right
}

.footer {
    width: 100%;
    height: 75px;
    background-color: gray;
    clear: both;
    line-height: 75px;
}




/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
